<h1>Añadir ordenanza</h1>
<form id="form-alta" class="" name="form-alta" action="#">
    <fieldset>
        <div class="form-group">
            <div class="class-md-6">
                <label class="control-label" for="numOrdenanza">Número de Ordenanza: </label>
                <input name="numOrdenanza" class="form-control" placeholder="Ejemplo: 12.638" type="text">
            </div>
            <div class="class-md-6">
                <label class="control-label" for="tema">Tema: </label>
                <input name="tema" class="form-control" placeholder="N caracteres" type="text">
            </div>
            <div class="class-md-6">
                <label class="control-label" for="estado">ESTADO: </label>
                <input name="estado" class="form-control" placeholder="Slater" type="text">
            </div>
            <div class="class-md-6">
                <label class="control-label" for="fechaPromulgacion">Fecha: </label>
                <input name="fechaPromulgacion" class="form-control" placeholder="Slater" type="text">
            </div>
            <div class="class-md-6">
                <label class="control-label" for="nroPromulgacion">Número de promulgación: </label>
                <input name="nroPromulgacion" class="form-control" placeholder="Ejemplo: N°0623" type="text">
            </div>
            <div class="class-md-6">
                <label class="control-label" for="observacion">Observación: </label>
                <input name="observacion" class="form-control" placeholder="N caracteres" type="text">
            </div>    
             <div class="class-md-6">
                <label class="control-label" for="nroActSimple">Número de Actuación Simple: </label>
                <input name="nroActSimple" class="form-control" placeholder="Ejemplo: " type="text">
            </div>            
        </div>
        <div class="form-group">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary btn-lg btn-block info">Añadir</button>
            </div>
        </div>         
    </fieldset>
</form>