<h1>
  Subsecretaría Legal y Técnica
</h1>
<p>
  La Subsecretaría Legal y Técnica, dependiente de la Secretaría General del Municipio de Resistencia, lleva adelante las tareas de: 
</p>
<div class="container">
<img src="./images/municipio.jpg" class="img-home col-md-4">
<p>El municipio de Resistencia es el órgano encargado de regir la urbe y zonas rurales aledañas. Esta extensión avanza por el departamento San Fernando al norte y sur de la ciudad, quedando algunas poblaciones de la ruta Provincial Nº 13 bajo la jurisdicción de la misma</p>
</div>
