<h1>Modificar ordenanza</h1>
<input type="text" placeholder="Nº de Actuación Simple" ng-model="nroActSimple" value="">
<button type="search" ng-click="buscarOrdenanza(nroActSimple)">Buscar</button>
{{ordenanza}}
<form class="formulario" align="center">
    <fieldset>
        <div class="form-horizontal">
            <div class="col-md-12">
                <label>Número de Actuación Simple: </label>
                <input class="form-control" type="text" ng-model="ordenanza.nroActSimple"/> {{ordenanza.nroActSimple}}
            </div>
            <div class="col-md-12">
                <label>Número de Ordenanza: </label>
                <input class="form-control" type="text" ng-model="ordenanza.nroOrdenanza" />
            </div>
            <div class="col-md-12">
                <label>Tema: </label>
                <input class="form-control" type="text" ng-model="ordenanza.tema" />
            </div>
            <div class="col-md-12">
                <label>Estado: </label>
                <div><label class="radio-inline"><input type="radio" value="true" ng-model="ordenanza.promulgacion">Promulgada</label></div>
                <div><label class="radio-inline"><input type="radio" value="false" ng-model="ordenanza.promulgacion">Vetada</label></div>
            </div>
            <div class="col-md-12">
                <label>Fecha de Promulgación: </label>
                <input class="form-control" type="text" ng-model="ordenanza.fechaPromulgacion" />
            </div>
            <div class="col-md-12">
                <label>Número de Resolución de Promulgación: </label>
                <input class="form-control" type="text" ng-model="ordenanza.nroPromulgacion" />
            </div>
            <div class="col-md-12">
                <label>Observación: </label>
                <input class="form-control" type="text" ng-model="ordenanza.observacion" />
            </div>
            <div class="col-md-12">
                <label>Presentó: </label>
                <div><label class="radio-inline"><input type="radio" value="Ejecutivo" ng-model="ordenanza.presento">Ejecutivo</label></div>
                <div><label class="radio-inline"><input type="radio" value="Legislativo" ng-model="ordenanza.presento">Legislativo</label></div>
            </div>
            <div class="col-md-12">
                <label>Reglamentada: </label>
                <div><label class="radio-inline"><input type="radio" value="true" ng-model="ordenanza.reglamentada">Si</label></div>
                <div><label class="radio-inline"><input type="radio" value="false" ng-model="ordenanza.reglamentada">No</label></div>
            </div>
        </div>
    <p></p>
        <div class="col-md-12">
            <input class="botonEnviar" ui-sref="submit" type="button" value="Enviar" ng-click="postdata(ordenanza)"/> 
            
        </div>
    </fieldset>
</form>