
<h1>Listado de ordenanzas</h1>

<table class="table">
    <tr>
        <th>N° de ordenanza</th>
        <th>Tema</th>
        <th>Estado</th>
        <th>Fecha promulgación</th>
        <th>N° Promulgación</th>
        <th>Observación </th>
    </tr>
    <tr ng-repeat="ordenanza in ordenanzas">
        <td>{{ ordenanza.numero }}</td>
        <td>{{ ordenanza.tema }}</td>
        <td>{{ ordenanza.estado }}</td>
        <td>{{ ordenanza.fechaPromulgacion }}</td>
        <td>{{ ordenanza.numPromulgacion }}</td>
        <td>{{ ordenanza.observacion }}</td>
    </tr>
</table>
