<!--<div ng-controller="ordenanzas-ctrl">
  <div ng-repeat="ordenanza in ordenanzas" class="col-md-6">
      <table class"table table-bordered">
        <tr>
          <th>Numero de ordenanza</th>
          <th>Fecha</th>
          <th>Estado</th>
        </tr>
        <tr>
          <td class="numeroOrdenanza"> {{ordenanza.numero}}</td>
        </tr>
    </table> 
  </div>
</div>

-->
<h1>Listado de ordenanzas</h1>
<table>
    <!--<tr ng-repeat="ordenanza in ordenanzas">
        <td>{{ ordenanza.numero }}</td>
        <td>{{ ordenanza.estado }}</td>
    </tr>-->
</table>