body {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    color: darkolivegreen;
}

a:hover {
    color:white;
}

a {
    color:white;
}

.container {
    margin-left: 10px;
}

img.logo-footer {
    height: 100px;
    width: auto;
}
